@import "bootstrap-sprockets";
@import "bootstrap";

/* Navbar */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #000;
  text-decoration: none;
}

/* Body */
body {
  padding: 75px 0 0 0;
}